<div class="modal fade" id="editLoanPaymentModal{{payment.id}}" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">Edit Loan Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit-payment' %}">
                    {% csrf_token %}
                    <input type="number" id="payment_id" name="payment_id" value="{{payment.id}}" hidden readonly required />
                  
                    <div class="row mb-3">
                        <div class="col">
                            <label for="transactionDescription" class="form-label fw-bold">Amount Paid</label>
                            <input type="number" class="form-control" id="amount" name="amount" min="0" value="{{payment.amount}}" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="transactionDescription" class="form-label fw-bold">Payment Method</label>
                            <select class="form-select" id="payment_method" name="payment_method">
                                <option value="{{payment.payment_method}}">{{payment.payment_method}}</option>
                                {% for payment_method in payment_methods %}
                                    {% if payment_method != loan.payment_method %}
                                        <option value="{{payment_method}}">{{payment_method}}</option>
                                    {% endif %}
                        
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Record Payment</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>