{% extends "base.html" %}

{% block content %}
<div class="container mt-3" style="height: 100vh;">
    <div class="row">
        <!-- Recent Transactions -->
        <div class="col-md-12 recent-transactions mt-2">
            <div class="row">
                <div class="col-md-4">
                    <h4>Expenditures</h4>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control me-2" placeholder="Search Expenditures...">
                </div>
                <div class="col-md-4 text-end">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newExpenditureModal">
                        Record Expenditure
                    </button>
                </div>
            </div>
            
            <table class="table table-bordered mt-3">
                <thead class="table-light">
                    <tr>
                        <th scope="">#</th>
                        <th scope="">Description</th>
                        <th scope="">Budget Allocation</th>
                        <th scope="">Amount</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for expenditure in page_obj %}
                    <tr>
                        <td>{{expenditure.id}}</td>
                        <td>{{expenditure.description}}</td>
                        <td>{{expenditure.allocation}}</td>
                        <td>{{expenditure.amount}}</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#editExpenditureModal{{expenditure.id}}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#deleteExpenditureModal{{expenditure.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                       {% include "expenditures/delete_expenditure.html" %}
                       {% include "expenditures/edit_expenditure.html" %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}   
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    {% if page_obj.has_next %}    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}   
                  </ul>
                </nav>
              </div>
        </div>
    </div>
</div>
{% endblock content %}