<div class="modal fade" id="newExpenditureModal" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">Record Expenditure</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'new-expenditure' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="transactionDescription" class="form-label fw-bold">Budget Allocation</label>
                            <select class="form-select" name="allocation_id" id="allocation_id" required>
                                <option></option>
                                {% for allocation in allocations %}
                                    <option value="{{allocation.id}}">{{allocation}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="transactionDescription" class="form-label fw-bold">Description</label>
                            <input type="text" class="form-control" name="description" id="description" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="transactionAmount" class="form-label fw-bold">Amount Spend</label>
                        <input type="number" name="amount" id="amount" min="0" class="form-control" id="transactionAmount">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Expenditure</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>