{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Cards Section -->
        <div class="col-md-3">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg bg-primary">
                        <i class="fas fa-wallet fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h5>Allocated</h5>
                        <h4 class="text-success">${{allocated}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg bg-primary">
                        <i class="fas fa-coins fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h5>Budgeted</h5>
                        <h4 class="text-primary">${{budgeted}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg bg-danger">
                        <i class="fas fa-credit-card fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h5>Spend</h5>
                        <h4 class="text-danger">${{spend}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg bg-warning">
                        <i class="fas fa-chart-line fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h5>Savings</h5>
                        <h4 class="text-warning">${{balance}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Recent Transactions -->
        <div class="col-md-12 recent-transactions mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Allocations</h4>
                <!-- Search and Create Button -->
                <div class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Search Allocations...">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newAllocationModal{{budget.id}}">
                        New
                    </button>
                </div>
            </div>
            <table class="table table-bordered mt-3">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Allocation Type</th>
                        <th>Allocated</th>
                        <th>Spend</th>
                        <th>Recorded On</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in page_obj %}
                    <tr>
                        <td>{{allocation.id}}</td>
                        <td>{{allocation.allocation_type}}</td>
                        <td>{{allocation.amount_allocated}}</td>
                        <td class="text-danger">${{allocation.amount_spend}}</td>
                        <td>{{allocation.created}}</td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#editAllocationModal{{allocation.id}}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>
                            <a data-bs-toggle="modal" data-bs-target="#deleteAllocationModal{{allocation.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                        {% include "budgets/allocations/edit_allocation.html" %}
                        {% include "budgets/allocations/delete_allocation.html" %}
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
            <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}   
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    {% if page_obj.has_next %}    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}   
                  </ul>
                </nav>
              </div>
        </div>
    </div>
</div>
{% endblock content %}