{% extends "base1.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg">
                        <i class="fas fa-coins fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h4>Total Allocated</h4>
                        <h4 class="text-highlight">${{total_allocated}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg">
                        <i class="fa-solid fa-list-check fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h4>Total Budgeted</h4>
                        <h4 class="text-primary">${{total_budgeted}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon-bg">
                        <i class="fa-solid fa-money-bill-wave fa-2x"></i>
                    </div>
                    <div class="ms-3">
                        <h4>Total Spend</h4>
                        <h4 class="text-danger">${{total_spend}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Recent Transactions -->
       
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="px-2">Budgets</h4>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control me-2" placeholder="Search Budget...">
                </div>
                <div class="col-md-4 text-end">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newBudgetModal">
                        New Budget
                    </button>
                </div>
             </div>
            <div class="table-responsive">
                <table class="table table-sm mt-3">
                    <thead class="">
                        <tr>
                            <th scope="">#</th>
                            <th scope="">Month/Year</th>
                            <th scope="">Allocated</th>
                            <th scope="">Budgeted</th>
                            <th scope="">Spend</th>
                            <th>Status</th>
                            <th colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budget in page_obj %}
                        <tr>
                            <td>{{budget.id}}</td>
                            <td>{{budget.month}} {{budget.year}}</td>
                            <td>{{budget.amount_allocated}}</td>
                            <td>{{budget.amount_budgeted}}</td>
                            <td class="text-danger">{{budget.amount_spend}}</td>
                            <td>{% if budget.active %} Open {% else %} Closed {% endif %}</td>
                            <td>
                                <a href="{% url 'budget-details' budget.id %}" class="btn btn-info btn-sm"><i class="fa-regular fa-eye"></i></a>
                            </td>
                            <td>
                                <a data-bs-toggle="modal" data-bs-target="#editBudgetModal{{budget.id}}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            <td>
                                <a data-bs-toggle="modal" data-bs-target="#deleteBudgetModal{{budget.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                            </td>
                            <td>
                                {% if budget.active %}
                                    <a data-bs-toggle="modal" data-bs-target="#lockBudgetModal{{budget.id}}" class="btn btn-warning btn-sm"><i class="bi bi-lock"></i></a>
                                {% else %}
                                <a data-bs-toggle="modal" data-bs-target="#unlockBudgetModal{{budget.id}}" class="btn btn-success btn-sm"><i class="bi bi-unlock"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% include "budgets/edit_budget.html" %}
                        {% include "budgets/delete_budget.html" %}
                        {% include "budgets/lock_budget.html" %}
                        {% include "budgets/unlock_budget.html" %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}   
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    {% if page_obj.has_next %}    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}   
                  </ul>
                </nav>
              </div>
        </div>
    </div>

{% endblock content %}