<div class="modal fade" id="newBudgetModal" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">New Budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'new-budget' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="transactionDescription" class="form-label fw-bold">Month</label>
                            <select class="form-select" name="month" id="month" required>
                                <option></option>
                                {% for month in months %}
                                    <option value="{{month}}">{{month}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="transactionDescription" class="form-label fw-bold">Year</label>
                            <select class="form-select" name="year" id="year" required>
                                <option></option>
                                {% for year in years %}
                                    <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="transactionAmount" class="form-label fw-bold">Budget Allocation</label>
                        <input type="number" name="amount_allocated" id="amount_allocated" min="0" class="form-control" id="transactionAmount">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Budget</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>