<div class="modal fade" id="newBudgetModal" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">New Budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="transactionDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="transactionDescription">
                    </div>
                    <div class="mb-3">
                        <label for="transactionAmount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="transactionAmount">
                    </div>
                    <div class="mb-3">
                        <label for="transactionCategory" class="form-label">Category</label>
                        <select class="form-select" id="transactionCategory">
                            <option selected>Choose...</option>
                            <option value="Income">Income</option>
                            <option value="Expense">Expense</option>
                            <option value="Savings">Savings</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Budget</button>
            </div>
        </div>
    </div>
</div>