<div class="modal fade" id="unlockBudgetModal{{budget.id}}" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">Unlock {{budget.month}} Budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'unlock-budget' %}">
                    {% csrf_token %}
                    <input type="number" id="budget_id" name="budget_id" value="{{budget.id}}" hidden readonly required />
                    <div class="mb-3">
                        <p>Are you sure you want to unlock budget record for <b>{{budget.month}} {{budget.year}}</b> of <b>{{budget.amount_allocated}}</b>?</p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                        <button type="submit" class="btn btn-primary">Yes, Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>