{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <!-- Balance Section -->
            <div class="col-md-6 mb-4">
                <a href="{% url 'income' %}" style="text-decoration: none; color: black;">
                <div class="balance-section d-flex justify-content-between align-items-center">
                    <div>
                        <h3>Overal Income</h3>
                        <h1 class="text-highlight">${{income}}</h1>
                    </div>
                    <div class="icon-bg">
                        <i class="fas fa-coins fa-2x"></i>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="{% url 'budgets' %}" style="text-decoration: none; color: black;">
                <div class="balance-section d-flex justify-content-between align-items-center">
                    <div>
                        <h3>Overal Budget</h3>
                        <h1 class="text-primary">${{total_budget}}</h1>
                    </div>
                    <div class="icon-bg">
                        <i class="fas fa-calculator fa-2x"></i>
                    </div>
                </div>
            </a>
            </div>
           
            <!-- Cards Section -->
            <div class="col-md-4">
                <a href="{% url 'investments' %}" style="text-decoration: none; color: black;">
                <div class="card p-3 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-bg">
                            
                            <i class="fas fa-chart-pie fa-2x"></i>
                        </div>
                        <div class="ms-3">
                            <h5>Investments</h5>
                            <h4 class="text-highlight">${{total_investments}}</h4>
                        </div>
                    </div>
                </div>
            </a>
            </div>

            <div class="col-md-4">
                <a href="{% url 'expenditures' %}" style="text-decoration: none; color: black;">
                <div class="card p-3 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-bg bg-danger">
                            <i class="fas fa-credit-card fa-2x"></i>
                        </div>
                        <div class="ms-3">
                            <h5>Expenditures</h5>
                            <h4 class="text-danger">${{total_spend}}</h4>
                        </div>
                    </div>
                </div>
            </a>
            </div>

            <div class="col-md-4">
                <a href="{% url 'loans' %}" style="text-decoration: none; color: black;">
                <div class="card p-3 mb-3">
                    <div class="d-flex align-items-center">
                        <div class="icon-bg bg-info">
                            <i class="fas fa-landmark fa-2x"></i>
                        </div>
                        <div class="ms-3">
                            <h5>Loans</h5>
                            <h4 class="text-info">${{loans_total}}</h4>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <!-- Recent Transactions -->
            <div class="col-md-12 recent-transactions mt-4">
                <h4>Recent Spendings</h4>
                <table class="table table-bordered mt-3">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for spending in expenditures %}
                        <tr>
                            <th>{{spending.id}}</th>
                            <td>{{spending.created}}</td>
                            <td>{{spending.description}}</td>
                            <td>{{spending.allocation}}</td>
                            <td class="text-danger">-${{spending.amount}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
